# FMSPy - Copyright (c) 2009 Andrey Smirnov.
#
# See COPYRIGHT for details.

# FMSPy configuration file

# RTMP options
[RTMP]
# timeout for processing handshake (seconds)
handshakeTimeout = 15
# listen port
port = 1935
# bind address
interface = 
# backlog for listen socket
backlog = 15
# interval between sending regular pings (seconds)
pingInterval = 30
# keep-alive timeout (seconds)
keepAliveTimeout = 120

# HTTP (web) options
[HTTP]
# enable bundled http server
enabled = yes
# port for http
port = 3000
# enable packaged examples
examples-enabled = yes

# Options for EchoApplication
# EchoApplication is test application
[EchoApplication]
# is app enabled?
enabled = yes
# application name (entry point)
name = echo

# Options for ChatApplication
# ChatApplication is test application
[ChatApplication]
# is app enabled?
enabled = yes
# application name (entry point)
name = chat
